
#body{background-color: rgb(113, 152, 160);}

#title-header{
    text-align: center;
    font-family: "Brush Script MT", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

font-size: 20px;

}

#menu ul li a{
    display: block;
    text-decoration: none;
    color: #131213;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px
    15px;
    background: none;
    margin-left: 1px;
    white-space: nowrap;}
    #menu ul li a:hover{
    color: rgb(118, 216, 213);
    }

   
    

#contact{text-align: left;
    font-family:  "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
background-color:rgb(113, 152, 160);
font-size: 20px;}

